<% layout("./layout/boilerplate") %>
<div class="container">
    <div class="actor-profile" data-toggle="collapse" data-target="#collapseActorProfile" aria-expanded="false"
      aria-controls="collapseActorProfile">
      <img src="https://image.tmdb.org/t/p/w185<%= actor.profile_path %>" alt="<%= actor.name %>">
      <div>
        <h1 class="actor-name"><%= actor.name %></h1>
        <p><strong>Birthday:</strong> <%= actor.birthday %></p>
        <p><strong>Place of Birth:</strong> <%= actor.place_of_birth %></p>
      </div>
    </div>

    <h2>Actor's Movies</h2>
    <div class="row">
      <% for (let movie of movies) { %>
        <% if (movie.poster_path) { %>
          <div class="col-md-3 mb-4">
            <a href="/movie/<%= movie.id %>">
              <div class="card bg-dark text-white movie-card-item">
                <img src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>" class="card-img-top"
                  alt="Movie Poster">
                <div class="card-body">
                  <h5 class="card-title mb-5 movie-title"><%= movie.title %></h5>
                  <a href="/movie/<%= movie.id %>" class="btn btn-view-details mt-3">View Details</a>
                </div>
              </div>
            </a>
          </div>
        <% } %>
      <% } %>
    </div>
  </div>